body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/pexels-david-yu-5722255.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.clock {
    width: 450px;
    height: 450px;
    border: 20px splid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 30px;
    box-shadow:
    0 0 13px 14px rgba(0,0,0,0.13),
    inset 0 0 0 13px #EFEFEF,
    inset 0 0 110px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}